<div class="slide-caption"></div>
<hr class="hr-gradient" />
<%= link_to font_icon('arrow-left') + ' Prev', 'javascript:void(0)', class: 'prev-slide-trigger foreground' %>
<%= link_to ('Next ' + font_icon('arrow-right')).html_safe, 'javascript:void(0)', class: 'next-slide-trigger foreground' %>