
.blog-entry {
    padding: 1em;
    margin: 1em auto;
    background: rgb(255,255,255);
    background: rgba(255,255,255,.2);
    box-shadow: 0 0 3px #666;
    border-radius: 0 1em 1em 1em;
}

.blog-header {
    background: transparent !important;
    border: none !important;
    cursor: pointer;
}

.blog-title {
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
}

.blog-timestamp {
    font-size: .8em;
    color: #DDD;
    text-shadow: 1px 1px 0 black;
}

.blog-content {
    display: none;
    color: black;
}

.blog-open,
.blog-closed:hover {
    border: 2px solid;
    position: relative;
    top: -2px;
    left: -2px;
    margin-bottom: -4px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, .6);
}

.blog-footer {
    text-align: right;
    text-shadow: 1px 1px 0 black;
}

.blog-closed .blog-footer {
    display: none;
}