<% content_for :title do %>(Admin) Jacqueline Ann Holloway<% end %>
<% content_for :body_class do "overflow" end %>
<% content_for :content do %>
   <div id="admin-div"><%= yield %></div>
<% end %>
<%= render template: 'layouts/application' %>